<header
  class="h-16 min-w-full bg-transparent backdrop-blur flex justify-between shadow-xl fixed top-0 z-10"
>
  <nav class="left-header w-1/4 h-full overflow-hidden">
    <a
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <img
        class="object-cover h-full"
        src="assets/lightBeer.png"
        alt="beer image"
      />
    </a>
  </nav>
  <div class="min-h-full">
    <div>
      <form
        [formGroup]="searchForm"
        class="searchBar"
        (ngSubmit)="onSearchSubmit()"
      >
        <input
          type="text"
          placeholder="search.."
          formControlName="searchValue"
          (input)="getCityValue($event)"
          (focus)="recommend()"
          (blur)="showSuggestions = false; showResult = false"
        />
      </form>
    </div>
    <div *ngIf="showSuggestions">
      <div *ngFor="let article of articles">{{ article }}</div>
    </div>
    <div *ngIf="showResult">
      <div *ngFor="let filteredCityValue of filteredCityValueList">
        {{ filteredCityValue }}
      </div>
    </div>
  </div>
  <div class="right-header hidden">
    <div>Why us?</div>
    <div>Menu</div>
    <div>Services</div>
  </div>
  <mat-toolbar color="primary" class="!w-fit !bg-transparent white-menuBars">
    <button mat-icon-button (click)="menuHandler($event)" #menuIcon>
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="closeHandler($event)"
      class="hidden"
      #closeIcon
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div
  #menuModal
  class="bg-black h-screen min-w-full fixed top-16 right-[-100vw] transition-right duration-300 z-50"
>
  <div *ngFor="let content of menuDropDownList; index as i">
    <hr />
    <nav class="h-16 text-center leading-64px text-white">
      <hr />
      <a
        [routerLink]="[content.path]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="closeHandler($event)"
      >
        {{ content.label }}
      </a>
    </nav>
  </div>
</div>
