<header
  class="h-16 bg-headerColor backdrop-blur flex justify-between shadow-xl sticky top-0 overflow-hidden"
>
  <div class="left-header w-1/4 h-full overflow-hidden">
    <img class="object-cover h-full" src="assets/beers.png" alt="beer image" />
  </div>
  <div class="right-header hidden">
    <div>Why us?</div>
    <div>Menu</div>
    <div>Services</div>
  </div>
  <mat-toolbar color="primary" class="!w-fit">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>
