<header>
  <div  class="h-16 w-full bg-transparent backdrop-blur flex items-center justify-between shadow-xl fixed top-0 z-10 px-6"
    style="line-height: 64px">

    <div class="h-full w-10 mx-6">
      <nav class="left-header h-full overflow-hidden">
        <a
          routerLink="/home"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          <img
            class="object-cover block mx-auto h-full"
            src="assets/lightBeer.png"
            alt="beer image"
          />
        </a>
      </nav>
    </div>
    <div class="flex h-full mx-6 px-6">
      <div class="searchBox">
        <div class="flex combineSearchBox w-1/2">
          <div>
            <f
              [formGroup]="searchForm"
              class="searchBar"
              (ngSubmit)="onSearchSubmit()"
            >
              <input
                type="text"
                placeholder="search.."
                formControlName="searchValue"
                (input)="getCityValue($event)"
                (focus)="recommend()"
                (blur)="onBlur()"
                class="rounded-md h-5 w-0 transition-all duration-300 ease-in-out"
                #searchBar
              />
            </f>
          </div>
          <div class="flex items-center">
            <div
              class="flex items-center justify-center"
              (click)="appearSearchBar()"
            >
              <mat-toolbar color="primary" class="!bg-transparent white-Color cursor-pointer">
                <mat-icon>search</mat-icon>
              </mat-toolbar>
            </div>
          </div>
          <div
            class="bg-slate-200 w-1/2 absolute mr-14 rounded-md mt-16 h-screen overflow-auto hidden"
            #suggestionBox
          >
            <div *ngIf="showSuggestions">
              <div *ngFor="let article of articles">{{ article }}</div>
            </div>
            <div *ngIf="showResult">
              <div *ngFor="let filteredCityValue of filteredCityValueList">
                {{ filteredCityValue }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menuBars flex items-center">
        <mat-toolbar color="primary" class="!w-fit !bg-transparent white-Color">
          <button mat-icon-button (click)="menuHandler($event)" #menuIcon>
            <mat-icon>menu</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="closeHandler($event)"
            class="hidden"
            #closeIcon
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
      </div>
    </div>
    <div class="right-header hidden">
      <div>Why us?</div>
      <div>Menu</div>
      <div>Services</div>
    </div>
  </div>

</header>

<div
  #menuModal
  class="bg-black h-screen min-w-full fixed top-16 right-[-100vw] transition-right duration-300 z-50"
>
  <div *ngFor="let content of menuDropDownList; index as i">
    <hr />
    <nav class="h-16 text-center leading-64px text-white">
      <hr />
      <a
        [routerLink]="[content.path]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="closeHandler($event)"
      >
        {{ content.label }}
      </a>
    </nav>
  </div>
</div>
