<hr class="border-1 w-full" />
<div class="footerContent min-w-full max-h-1/4 flex justify-between bg-footer">
  <div class="w-1/2 m-2 p-2 text-white">
    <p>Language</p>
    <p>Complaints</p>
    <p>Contacts</p>
    <p>Careers</p>
  </div>
  <div class="w-1/2 m-2 p-2 text-white">
    <p>Cookies</p>
    <p>Legal</p>
    <p>FAQs</p>
    <p>Privacy</p>
  </div>
</div>
<hr class="border-1 w-full" />
<div class="flex bg-footer">
  <mat-toolbar color="primary" class="!w-fit !bg-transparent white-Color">
    <fa-icon [icon]="faFacebook" class="px-2"></fa-icon>
    <fa-icon [icon]="faLinkedin" class="px-2"></fa-icon>
    <fa-icon [icon]="faViber" class="px-2"></fa-icon>
    <fa-icon [icon]="faInstagram" class="px-2"></fa-icon>
    <fa-icon [icon]="faWhatsapp" class="px-2"></fa-icon>
  </mat-toolbar>
</div>
